.footer{
    height: 10px;
    background-color: green;
}
.title{
    text-align: center;
}
.register {
    width: 300px;
    height: 45px;
    background-color: rgba(70, 163, 88, 1);
    color: white;
    border: none;
    cursor: pointer;
}
.with{
    text-align: center;
}
.form {
    width: 350px;
    margin: 40px;
}
.form input {
    width: 100%;
    height: 50px;
    margin-bottom: 8px;
    padding: 0 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fafafa;
    box-sizing: border-box;
    outline: none;
}
.social-button {
    width: 300px;
    height: 40px;
    border: 1px solid #ddd;
    cursor: pointer;
}

