.header{
    display:flex;
    justify-content: space-between;
   
    padding:30px 120px;
    margin-left: 100px;
 

}
.log {
  margin-left: auto;
  margin-bottom:50px;
}

.logo{
    text-decoration:none;
    color:green;
    font-size:32px;
    display:flex;
    align-items:center;
    
}

.menu{
    list-style:none;
    margin:0;
    padding:0;
}


.menu-item{
    display:inline-block;
    margin-right:100px;
    
   
}

.menu-link{
    text-decoration:none;
    color:#3d3d3d;
    font-size:20px;
    padding-bottom:5px;
}

.head{
    display:flex;
    align-items:center;
    gap:100px;
}

.button{
    width:100px;
    height:35px;
    background-color:rgba(70,163,88,1);
    border:none;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:5px;
    cursor:pointer;
}

.login{
    color:white;
    font-size:16px;
}

.main{
background:#F5F5F5;
margin:40px 120px;
padding:60px;

display:flex;
justify-content:space-between;
align-items:center;
}

.main-text{
max-width:500px;
}

.welcome{
font-size:14px;
letter-spacing:2px;
color:#3D3D3D;
}

.main-title{
font-size:70px;
margin:20px 0;
}

.planet{
color:#46A358;
white-space: nowrap;



}

.p2{
color:#727272;
margin-bottom:25px;
}

.shop{
background:#46A358;
height:40px;
width:140px;
border:none;
cursor:pointer;
}

.main-title {
    white-space: nowrap;
}
.now{
color:white;
font-size:16px;
}
.menu-link:hover{
    color:#46A358;
    border-bottom:5px solid #46A358;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    padding: 0 20px;
}


.header {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 30px;
    padding: 25px 0;
}

.header-content {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-left { width: 150px; }

.menu {
    display: flex;
    gap: 35px;
}

.head {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 16px;
    transition: 0.2s;
}

.head:hover {
    color: #46A358;
    border-bottom: 3px solid #46A358;
    padding-bottom: 27px;
}
.card:hover{
     border-top: 3px solid #46A358;
    color: #46A358;
   
     
    
}
.sort {
    font-size: 15px;
    color: #3D3D3D;
    width: 180px;
    display: flex;
    align-items: center;
    gap:5px;
       white-space: nowrap; 
}
.sort-dropdown {
    border: none;
    background: transparent;
    color: #3D3D3D;
    font-family: inherit;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    padding-right: 5px;
}



.sidebar {
    width: 310px;
    background: #FBFBFB;
    padding: 25px;
    flex-shrink: 0;
    max-height: 600px;
    display: flex; flex-direction: column;
}

.sidebar h3 { font-size: 18px; margin-bottom: 20px; }

.categories { list-style: none; padding: 0; }

.categories li { margin-bottom: 18px; }

.side {
    text-decoration: none;
    color: #3D3D3D;
    transition: 0.2s;
}

.side:hover {
    color: #46A358;
    font-weight: bold;
}

.sale{
width:400px;
 height:470px;
 margin-top: 210px;
 margin-left: -40px;

}

main {
    flex-grow: 1;
}

.shop-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px; 
}

.card { text-align: left; }

.card-bg {
    color:#3D3D3D;
    padding: 20px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

.card img { max-width: 100%; height: auto; }

.card p { margin: 0 0 4px 0; color: #3D3D3D; font-size: 16px; }

.price { color: #46A358;
     font-weight: bold;
     font-size: 18px;
     }


.btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.button {
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    background: white;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;
    color: #3D3D3D;
}

.button.active, .button:hover {
    background-color: #46A358;
    color: white;
    border-color: #46A358;
}
.overlay{
    max-width: max-content;
    position:absolute;
    align-self: center;
    padding-bottom: 20px;
    cursor: pointer;
     padding:50px;
     margin-bottom: 23px; 
     
}
.overlay-image:hover{
    
     filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);

}
.overlay-image{
    padding: 10px;
   
}
.frame{
    position: absolute; 
     margin-top:109px;        
    padding-left: 15px; 
      
     
}
.old-price {
    color: #A5A5A5;
    text-decoration: line-through;
}
.button{
background-color: rgba(70, 163, 88, 1);
    text-decoration: none;
    width: 140px;
    height: 40px;
    border:none;
   float:right;
   margin-top: 30px;
   margin-right: 20px;
   
    
     
}
.btn{
    text-decoration: none;
    color:aliceblue;
    
   

}

.h1{
     word-spacing: 20px;
     
}
.h2{
    word-spacing: 20px;
}
.imag{
   float:left;
     mix-blend-mode: multiply;


}

.plants{
     background-color: rgba(251, 251, 251, 1);
}
.plant_2{
background-color: rgba(251, 251, 251, 1);
}
.header{
    display: flex;
     justify-content: center;
     gap:50px;
    padding-right:119px;
    margin-top: 69px;
    
   
   
}

.paragraph_1{color:rgba(114, 114, 114, 1);
    display:flex;justify-content: right;


}
.paragraph{
    color:rgba(114, 114, 114, 1);
     

   
   
}

.posts{
    display: flex;
     justify-content: center;
     margin-top: 200px;
   
}
.offer{
    display: flex;
    justify-content: center;
    color:rgba(114, 114, 114, 1);

}
.green{
    color:rgba(70, 163, 88, 1);
}
.card_2{
    display: inline-block;
     text-align: left;
    margin: 30px;
    margin-right: 43px;
     margin-left:100px;
     background-color: rgba(251, 251, 251, 1);
   
    
}
.card_2:hover {
    
  

    border-top: 5px solid #46A358;
}
    
   
   

.read{
 background: none;
 border: none;
 cursor:pointer;
 background-color:  rgba(251, 251, 251, 1);
 transition: all 0.3s linear;

    
}
.read:hover{
    color: green;
    transform: translate(5px,5px);
    box-shadow: 0 0 5px black;
}

.footer{
  display:flex;
  justify-content: center;
 margin-right: 20px;
 margin-left: 100px;
 
 

   
background:#f5f5f5;

    margin: 0 auto;    
    width: 100%;       
margin-top: 100px;
 
   




}






.footer-top{
display:flex;
gap:40px;
justify-content:space-between;


}

.box{
width:220px;

}

.newsletter{
width:320px;
}

.subscribe{
display:flex;
margin:15px 0;
}

.subscribe input{
flex:1;
padding:10px;
border:1px solid #ddd;
}

.subscribe button{
background:#46A358;
color:white;
border:none;
padding:10px 20px;
cursor:pointer;
}



.footer-middle{
display:flex;
justify-content:space-between;
align-items:center;
  background: linear-gradient(to right,rgba(237, 246, 239, 1),rgba(82, 195, 104, 1));

color:white;
padding:22px;
margin-top:30px;
gap:100px;

}


.footer-bottom{
display:flex;
justify-content:space-between;
margin-top:40px;
}

.column h4{
margin-bottom:10px;
}

.column p{
margin:5px 0;
font-size:14px;

}
.logo{
    font-size: 32px;
    color:rgba(70, 163, 88, 1);
    text-decoration: none;
    
}
.West{
    color:rgba(61, 61, 61, 1);
}
.contact{
    color:rgba(61, 61, 61, 1);
}
.call{
    color:rgba(61, 61, 61, 1);
}
.facebook{
    text-decoration: none;
    border: 1px;
    cursor: pointer;
    width:30px;height:30px;
    
}
.pay{
     mix-blend-mode: multiply;
}
.year{
    display: flex;
    justify-content: center;
}
.join{
    font-size:18px;
}
.text{
    color:rgba(114, 114, 114, 1);
    font-size:13px;
    margin-top: 18px;
       
    
}
.paragraph{
    color:rgba(114, 114, 114, 1);
    font-size:14px;
}
.menu-link:hover{
    color:#46A358;
    border-bottom:5px solid #46A358;
}
.menu-list{
    border:1px solid lightgray;
    padding:8px 24px;
     list-style: none;
     
    
    
     
    
}
.menu-list:hover{
    background-color: rgba(26, 113, 42, 1);}

   

.child{
    display:none;
    position:absolute;
   left:100%;
   background-color: rgba(237, 246, 238, 1);
    top:0;
    z-index: 1;
    text-decoration: none;
     width: 160px;
    padding-left: 5px;
  margin-top: 8px;
  

   
     
   
    
     
   


}



.parent:hover > .child{
    display:block;
     list-style: none;
     
    
    
     
        
     
  

}
.menu > .parent > .child{
    top:100%;
    left:0;
    
}
.parent{
    position:relative;
    cursor:pointer;
    
    
    
    
  

}
.link{
    text-decoration: none;
    color:rgba(61, 61, 61, 1);
    font-size: 18px;
     
    
   
  
   
}
.white:hover{
    color:white;
}
.link:hover{
    background-color: rgba(26, 113, 42, 1);
 
}

.lind:hover{
    color:green;
     
    transform: translate(5px,5px);
    box-shadow: 0 0 5px black;
    
}
.lind{
    text-decoration: none;
    color:rgba(61, 61, 61, 1);
     background-color:  rgba(251, 251, 251, 1);
 transition: all 0.3s linear;
   
}
.button:hover{
      color:green;
     
    transform: translate(7px,7px);


}
.button{
    transition: all 0.3s linear;

}
.btn:hover{
    color:green;
}
.shop:hover{
       color:green;
     
    transform: translate(7px,7px);


}
.shop{
     transition: all 0.3s linear;
}
.menu-item{
    transition: all 0.3s linear;

}
.menu-item:hover{
      color:green;
     
    transform: translate(7px,7px);


}






.call{
    text-decoration: none;
}
.contact{
    text-decoration: none;
}
.West{
    text-decoration: none;
}

