@font-face {
    font-family: 'Cera Pro'; 
    src: url('fonts/CeraPro.ttf') format('truetype');
    font-weight: 400;        
    font-style: italic;      
    font-display: swap;      
}


body {
    margin: 0;
    font-family: 'Cera Pro', sans-serif;
    color: #3D3D3D;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    padding: 0 20px;
}


.header {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 30px;
    padding: 25px 0;
}

.header-content {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-left { width: 150px; }

.menu {
    display: flex;
    gap: 35px;
}

.head {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 16px;
    transition: 0.2s;
}

.head:hover {
    color: #46A358;
    border-bottom: 3px solid #46A358;
    padding-bottom: 27px;
}

.sort {
    font-size: 15px;
    color: #3D3D3D;
    width: 180px;
    display: flex;
    align-items: center;
    gap:5px;
       white-space: nowrap; 
}
.sort-dropdown {
    border: none;
    background: transparent;
    color: #3D3D3D;
    font-family: inherit;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    padding-right: 5px;
}



.sidebar {
    width: 310px;
    background: #FBFBFB;
    padding: 25px;
    flex-shrink: 0;
    max-height: 600px;
    display: flex; flex-direction: column;
}

.sidebar h3 { font-size: 18px; margin-bottom: 20px; }

.categories { list-style: none; padding: 0; }

.categories li { margin-bottom: 18px; }

.side {
    text-decoration: none;
    color: #3D3D3D;
    transition: 0.2s;
}

.side:hover {
    color: #46A358;
    font-weight: bold;
}

.sale{
width:400px;
 height:470px;
 margin-top: 210px;
 margin-left: -40px;

}

main {
    flex-grow: 1;
}

.shop-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px; 
}

.card { text-align: left; }

.card-bg {
    color:#3D3D3D;
    padding: 20px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

.card img { max-width: 100%; height: auto; }

.card p { margin: 0 0 4px 0; color: #3D3D3D; font-size: 16px; }

.price { color: #46A358;
     font-weight: bold;
     font-size: 18px;
     }


.btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.button {
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    background: white;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;
    color: #3D3D3D;
}

.button.active, .button:hover {
    background-color: #46A358;
    color: white;
    border-color: #46A358;
}
