

.button{
background-color: rgba(70, 163, 88, 1);
    text-decoration: none;
    width: 140px;
    height: 40px;
    border:none;
   float:right;
   margin-top: 30px;
   margin-right: 20px;
   
    
     
}
.btn{
    text-decoration: none;
    color:aliceblue;
    
   

}

.h1{
     word-spacing: 20px;
     
}
.h2{
    word-spacing: 20px;
}
.imag{
   float:left;
     mix-blend-mode: multiply;


}

.plants{
     background-color: rgba(251, 251, 251, 1);
}
.plant_2{
background-color: rgba(251, 251, 251, 1);
}
.header{
    display: flex;
     justify-content: center;
     gap:50px;
    padding-right:119px;
    margin-top: 69px;
    
   
   
}

.paragraph_1{color:rgba(114, 114, 114, 1);
    display:flex;justify-content: right;


}
.paragraph{
    color:rgba(114, 114, 114, 1);
     

   
   
}
.posts{
    display: flex;
     justify-content: center;
     margin-top: 200px;
   
}
.offer{
    display: flex;
    justify-content: center;
    color:rgba(114, 114, 114, 1);

}
.green{
    color:rgba(70, 163, 88, 1);
}
.card{
    display: inline-block;
     text-align: left;
    margin: 30px;
     padding-left:50px;
     
    
}

.read{
 background: none;
 border: none;
 cursor:pointer;

    
}
.read:hover{
    color: green;
}
